# Ignore node_modules everywhere
**/node_modules

# Ignore logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
**/.env

# OS & Editor junk
.DS_Store
Thumbs.db
.vscode
.idea

# Ignore build files
**/dist
**/build

# Ignore coverage from tests
coverage

# Ignore system files
*.swp
*.swo

# Ignore temporary files
*.tmp
*.bak

# Ignore lockfiles (optional, if using npm consistently)
yarn.lock
pnpm-lock.yaml
